{% load static %}
<footer>
    <div class=copyrights>
        <p>Copyright &copy; 2025 Misqzy. All Rights Reserved.</p>
    </div>
    <div class=contacts>
        <a href="https://vk.com/narumn" target="_blank" rel="noreferrer" title="VK">
            <img src="{% static 'assets/icons/vk-icon.svg' %}" alt="VkIcon"/>
        </a>
        <a href="https://t.me/misqzy" target="_blank" rel="noreferrer" title="TG">
            <img src="{% static 'assets/icons/tg-icon.svg' %}" alt="TgIcon"/>
        </a>
        <a href="https://github.com/MISQZY" target="_blank" rel="noreferrer" title="Git">
            <img src="{% static 'assets/icons/git-icon.svg' %}" alt="GitIcon"/>
        </a>
    </div>
</footer>